# Default ignored files
/../../Grafų užduotys/.idea/shelf/
/../../Grafų užduotys/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Grafų užduotys/.idea/httpRequests/
# Datasource local storage ignored files
/../../Grafų užduotys/.idea/dataSources/
/../../Grafų užduotys/.idea/dataSources.local.xml
